.film-card {
    display: flex;
    width: 26.5em;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgb(0 0 0 / 15%);
    border-radius: 36px;
    position: relative;
}

.film-poster {
    width: 7em;
    height: 80%;
    border-radius: 12px;
    object-fit: cover;
    align-self: center;
    margin: 1.5em 1.5em;
}

.film-info {
    margin: 1.5em 1.2em 1.5em 0em;
    position: relative;
    height: 75%;
}

.film {
    font-size: 0.9em;
    font-weight: 500;
    color: #424659;
}

.genres {
    padding-bottom: 1.4em;
}

.film-card .movie-name {
    margin: 0 1em 1em 0;
}

.film-card .rating {
    font-size: 1.1em;
    font-weight: 500;
    color: #424659;
    position: absolute;
    bottom: -0.65em;
}

.film-card .star {
    color: #FFEA7B;
    font-size: 1.2em;
    position: absolute;
    bottom: -0.5em;
    padding: 0 1.5em 0 1.65em;
}

.add-icon {
    font-size: 28px;
    position: absolute;
    color: #5750EC;
    bottom: 0.6em;
    right: 0.6em;
    cursor: pointer;
}