<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>CinemaApp</title>
<script defer src="/main.js"></script></head>

<body>
    <div id="app"></div>
    {% load static %}
    <script src="{% static 'client/main.js' %}"></script>
</body>

</html>