* {
    font-family: 'Montserrat', sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #F8F9FD;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

#app {
    height: 100vh;
}