.container {
    background-image: url(@assets/auth_banner.jpg);
    background-size: cover;
    background-position-y: center;
    height: 100vh;
}

@media screen and (min-width: 1300px) {
    .authWindow {
        width: 29em;
        height: 82%;
        background: #ffffff73;
        display: flex;
        justify-content: center;
        position: relative;
        top: 3.5em;
        left: 7em;
        border-radius: 1em;
    }
}

@media screen and (max-width: 1300px) {
    .authWindow {
        width: 26em;
        height: 77%;
        background: #ffffff73;
        display: flex;
        justify-content: center;
        position: relative;
        top: 4.5em;
        left: 5em;
        border-radius: 1em;
    }
}
@media screen and (min-width: 1300px) {
    .authWindow h1 {
        text-align: center;    
        font-size: 2em;
        color: #5750ec;
    }
}
@media screen and (max-width: 1300px) {
    .authWindow h1 {
        text-align: center;
        font-size: 1.5em;
        color: #5750ec;
        margin: 0.8em;
    }
}
.authWindow h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
    color: #5750ec;
    letter-spacing: 0.02em;
    margin-bottom: 1.5em;
}

.formContainer {
    width: 17em;
    height: 100%;
    text-align: center;
}

@media screen and (min-width: 1300px) {
    .formContainer input {
        width: 91%;
        margin-bottom: 1.5em;
        height: 3.2em;
        border-radius: 0.5em;
        padding: 0 0.8em;
        font-size: 0.8em;
        outline: none;
        font-weight: 500;
        color: #131313;
        border: 1px solid #E2E2E2;
    }
}

@media screen and (max-width: 1300px) {
    .formContainer input {
        width: 91%;
        margin-bottom: 1.3em;
        height: 3.2em;
        border-radius: 0.5em;
        padding: 0 0.8em;
        font-size: 0.8em;
        outline: none;
        font-weight: 500;
        color: #131313;
        border: 1px solid #E2E2E2;
    }
}
.formContainer input:focus {
    border: 1px solid #5750EC;
}
.formContainer .form-control::placeholder {
    color: #B0B0B0;
    font-weight: 500;
}

@media screen and (min-width: 1300px) {
    .signUpBtn {
        width: 100%;
        height: 3.5em;
        margin: 1.5em 0 1.5em 0;
        border-radius: 0.5em;
        border: 0;
        outline: none;
        color: #FFFFFF;
        background: #5750EC;
        font-weight: 600;
        font-size: 0.8em;
        cursor: pointer;
    }
}
@media screen and (max-width: 1300px) {
    .signUpBtn {
        width: 100%;
        height: 3.5em;
        margin: 0.5em 0 1.3em 0;
        border-radius: 0.5em;
        border: 0;
        outline: none;
        color: #FFFFFF;
        background: #5750EC;
        font-weight: 600;
        font-size: 0.8em;
        cursor: pointer;
    }
}
.signUpWithGoogleBtn {
    width: 100%;
    height: 3.5em;
    margin: 0 0 1em 0;
    border-radius: 0.5em;
    border: 0;
    outline: none;
    color: #5750ec;
    background: #ffffff;
    font-weight: 600;
    font-size: 0.8em;
    background-image: url(/assets/google.svg);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: 1.6em;
    background-position-y: center;
    background-position-x: 1.4em;
    padding-left: 1.4em;
    cursor: pointer;
}

.formContainer span{
    color: #00000061;
    font-weight: 600;
    font-size: 0.7em;
}
.formContainer .blue{
    color: #5750ec;
    font-weight: 600;
    font-size: 0.7em;
}
@media screen and (min-width: 1300px) {
    .signIn {
        height: 75%;
    }
}
@media screen and (max-width: 1300px) {
    .signIn {
        height: 71%;
    }
}
.signInContainer {
    height: 100%;
    padding-top: 2em;
}