.profile-container {
    display: flex;
}

.avatar {
    display: flex;
    justify-content: center;
    background-image: url('@assets/avatar.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 13em;
    height: 13em;
    position: relative;
    top: 4em;
    background-color: #C4C4C4;
    border-radius: 30px;
}

input[type='file'] {
    opacity: 0;
}

@media screen and (min-width: 1300px) {
    .profile-settings {
        margin: 3em 0 0 5em;
    }
}

@media screen and (max-width: 1300px) {
    .profile-settings {
        margin: 3em 0 0 5.5em;
    }
}
.profile-settings  h3 {
    color: #030E4A;
    padding-bottom: 1em;
    font-size: 1.4em;
}

.profile-settings label {
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    color: #030E4A;
    padding-bottom: 2em;
}

@media screen and (min-width: 1300px) {
    .profile-settings input {
        position: absolute;
        left: 53em;
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        box-sizing: border-box;
        border-radius: 7px;
        height: 2.3em;
        width: 17em;
        outline: none;
        padding: 0.7em;
        font-style: normal;
        font-size: 1em;
        font-weight: 500;
        display: flex;
        align-items: center;
        color: #8D8D8D;
    }
}
@media screen and (max-width: 1300px) {
    .profile-settings input {
        position: absolute;
        left: 47em;
        background: #FFFFFF;
        border: 1px solid #E2E2E2;
        box-sizing: border-box;
        border-radius: 7px;
        height: 2.3em;
        width: 17em;
        outline: none;
        padding: 0.7em;
        font-style: normal;
        font-size: 1em;
        font-weight: 500;
        display: flex;
        align-items: center;
        color: #8D8D8D;
    }
}

.profile-settings input:focus {
    border: 1px solid #5750EC;
    color: #363547;
}