@media screen and (min-width: 1300px) {
    .search-widget-container {
        background: #FFFFFF;
        box-shadow: 2px 4px 10px rgb(0 0 0 / 8%);
        border-radius: 75px;
        width: fit-content;
        height: 4.3em;
        margin: 0 4em 0 22em;
        position: relative;
        display: flex;
        top: 3em;
    }
}
@media screen and (max-width: 1300px) {
    .search-widget-container {
        background: #FFFFFF;
        box-shadow: 2px 4px 10px rgb(0 0 0 / 8%);
        border-radius: 75px;
        width: fit-content;
        height: 4.3em;
        margin: 0 2em 0 18em;
        position: relative;
        display: flex;
        top: 3em;
    }
}

.search-widget-container p {
    font-style: normal;
    font-weight: 600;
    font-size: 0.85em;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 1em 2em 0.3em 2em;
    cursor: default;
}

::placeholder { 
    color: #8f8f8f;
    opacity: 1;
  }
.border-before::before {
    content: '';
    position: absolute;
    top: 0.9em;
    height: 2.5em;
    width: 1px;
    background: #bcbcbc7a;
}

.search-btn {
    font-weight: 501;
    font-size: 0.85em;
    align-self: center;
    background: linear-gradient(180deg, rgba(87, 80, 236, 0.89) 0%, #5750EC 100%);
    border-radius: 90px;
    width: 8.45em;
    height: 3.4em;
    color: white;    
    margin: 0 1em 0 1em;
    cursor: pointer;
}

.search-btn:hover {
    background: linear-gradient(180deg, rgba(107, 101, 236, 0.89) 0%, #625beb 100%);
}
.search-btn svg {
    font-size: 2em;
    top: 0.3em;
    position: relative;
    margin: 0 0.2em 0 0.4em;
}

.more-icon {
    font-size: 1.5em;
    position: relative;
    margin: 0 1em 0 1em;
    color: #b9b9b9;
}

.criteria-div:hover {
    border-radius: 75px;
    background-color: rgb(241, 241, 241);
}
.criteria-div:hover::before {
    display: none;
}

.criteria-active {
    border-radius: 75px;
    background-color: #ffffff;
    box-shadow: 2px 4px 10px rgb(0 0 0 / 8%);
}
.criteria-active:hover {
    background-color: #ffffff;
}
.criteria-active::before {
    display: none;
}
.criteria-div .placeholder-show {
    font-style: normal;
    font-weight: 400;
    font-size: 0.85em;
    display: flex;
    align-items: center;
    color: #8f8f8f;
    margin: 0.5em 2em 0.3em 2em;
    cursor: pointer;
}

.criteria-div .placeholder-hidden {
    opacity: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 0.85em;
    display: flex;
    align-items: center;
    color: #8f8f8f;
    margin: 0.5em 2em 0.3em 2em;
}

.criteria-div .rmsc .dropdown-heading {
    width: 16em;
    font-size: 0.9em;
    align-items: center;
    color: #8f8f8f;
    margin: -0.3em -1em 0 1.2em;
    cursor: pointer;
}

.criteria-div .rmsc .dropdown-container {
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
    top: -1.6em;
    align-items: center;
}

.criteria-div .rmsc .dropdown-container:focus-within {
    border: none;
    box-shadow: none;
}
.criteria-div .rmsc .gray {
    opacity: 0;
}
.criteria-div .rmsc .dropdown-content .panel-content {
    border-radius: 2em;
    border: none;
    box-shadow: none;
    padding: 1em;
    box-shadow: 2px 4px 10px rgb(0 0 0 / 8%);
    margin-top: 0.7em;
    font-size: 0.85em;
    position: relative;
}

.criteria-div .rmsc .options::-webkit-scrollbar { 
    width: 0; 
}

.criteria-div .rmsc .item-renderer input {
    display: none;
    margin: 0;
}

.criteria-div .rmsc * {
    margin: 0;
}

@media screen and (min-width: 1300px) {
    .criteria-div input{
        border: 0;
        background: #ffffff00;
        outline: none;
        margin: 0.25em 2em 0.3em 2em;
        padding: 0;
        color: #8f8f8f;
    }
}

@media screen and (max-width: 1300px) {
    .criteria-div input {
        border: 0;
        background: #ffffff00;
        outline: none;
        margin: 0.25em 1.5em 0.3em 2em;
        padding: 0;
        color: #8f8f8f;
        width: 8.5em;
    }
}

.counter-div {
    display: flex;
    background: #ffffffff;
    width: -webkit-fill-available;
    border-radius: 2em;
    border: none;
    padding: 1em;
    box-shadow: 2px 4px 10px rgb(0 0 0 / 8%);
    margin-top: 1.7em;
    justify-content: center;
    height: 2em;
}

.counter-btn {
    height: 1em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    width: 1em;
    border-radius: 50%;
    background: white;
    display: flex;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #7C7C7C;
    padding: 0.6em;
    font-size: 1.4em;
    user-select: none;
}

.counter-div span {
    width: 1em;
    align-self: center;
    text-align: center;
    padding: 0 0.7em;
}

.div-hidden {
    display: none;
}

.disabled {
    color: #d6d6d6;
    border: 1px solid rgb(0 0 0 / 13%);
}

.slider-div {
    display: flex;
    background: #ffffffff;
    width: -webkit-fill-available;
    border-radius: 2em;
    border: none;
    padding: 1.2em;
    box-shadow: 2px 4px 10px rgb(0 0 0 / 8%);
    margin-top: 1.7em;
    justify-content: center;
    align-items: center;
    height: 3em;
}

.slider {
    width: 7em;
}

.slider-div .input-range__slider {
    width: 14px;
    height: 14px;
    background: #fff;
    border: 0;
    box-shadow: 0px -1px 5px rgb(0 0 0 / 2%), 0px 1px 5px rgb(0 0 0 / 20%);
}

.slider-div .input-range__track--active {
    background: #5750ec;
}

.slider-div .input-range__track {
    height: 4px;
}
.slider-div .input-range__track--background {
    background: #5750ec38;
}

.actors-div {
    display: flex;
    background: #ffffffff;
    width: 13em;
    border-radius: 2em;
    border: none;
    padding: 1.2em;
    box-shadow: 2px 4px 10px rgb(0 0 0 / 8%);
    margin-top: 1.7em;
    height: auto;
    text-align: justify;
    max-height: 12em;
    overflow-y: scroll;
}

.actors-div::-webkit-scrollbar {
    display: none;
}

.actors-wrapper p {
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 36px;
    padding: 0.4em 0.7em;
    margin: 0.5em 0;
    color: rgba(0, 0, 0, 0.72);
}

.actors-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.add-btn {
    height: 1em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    width: 1em;
    border-radius: 50%;
    background: white;
    display: flex;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #7C7C7C;
    padding: 0.6em;
    font-size: 1.4em;
    user-select: none;
    margin-top: 0;
    align-self: center;
    outline: none;
}

.add-btn:hover {
    background: rgb(238, 238, 238);
}

.delete-actor-btn {
    width: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    border: 0;
    border-radius: 50%;
    color: #fff;
    background-color: #B3B3B3;
    outline: none;
    right: 1em;
    position: relative;
}

.delete-actor-btn:hover {
    background: #d6d6d6;
}

.actors-div input {
    display: none;
    outline: none;
    margin: 0.5em 0;
    color: #8f8f8f;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0;
    padding: 0.4em 0.7em;    
    margin-bottom: 1em;
}

.hidden-btn {
    display: none;
}

@media screen and (min-width: 1300px) {
    .criteria-div .actors-placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 0.85em;
        align-items: center;
        color: #8f8f8f;
        margin: 0.5em 2em 0.3em 2em;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 14em;
        display: block;
    }
}

@media screen and (max-width: 1300px) {
    .criteria-div .actors-placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 0.85em;
        align-items: center;
        color: #8f8f8f;
        margin: 0.5em 2em 0.3em 2em;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 12em;
        display: block;
    }
}
@media screen and (min-width: 1300px) {
    .more-div {
        display: flex;
        flex-direction: column;
        background: #ffffffff;
        width: 30em;
        border-radius: 2em;
        border: none;
        padding: 1.2em;
        box-shadow: 2px 4px 15px rgb(0 0 0 / 11%);
        margin-top: 1.7em;
        height: auto;
        text-align: justify;
        position: absolute;
        right: 0em;
        z-index: 5;
    }
}

@media screen and (max-width: 1300px) {
    .more-div {
        display: flex;
        flex-direction: column;
        background: #ffffffff;
        width: 30em;
        border-radius: 2em;
        border: none;
        padding: 0.8em 1.2em;
        box-shadow: 2px 4px 15px rgb(0 0 0 / 11%);
        margin-top: 1.2em;
        height: auto;
        text-align: justify;
        position: absolute;
        right: 0em;
        z-index: 5;
    }
}
@media screen and (min-width: 1300px) {
    .more-criteria-div {
        display: flex;
        justify-content: flex-end;
        padding: 0.5em 0;
    }
}
@media screen and (max-width: 1300px) {
    .more-criteria-div {
        display: flex;
        justify-content: flex-end;
        padding: 0.5em 0;
    }
}

.more-criteria-div p {
    font-style: normal;
    font-weight: 500;
    font-size: 0.85em;
    display: flex;
    color: #000000;
    cursor: default;
    margin: 0;
    margin-right: auto;
}

.more-criteria-div input {
    background: #ffffff00;
    outline: none;
    padding: 1em;
    color: #8f8f8f;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 2.5em;
    box-sizing: border-box;
    border-radius: 85px;
    width: 14.4em;
    margin: 0;
}

@media screen and (min-width: 1300px) {
    .more-criteria-div .rmsc .dropdown-container {
        background-color: #ffffff00;
        cursor: pointer;
        background: #ffffff00;
        outline: none;
        padding: 1em;
        color: #8f8f8f;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        border-radius: 85px;
        margin: 0;
        height: 1em;
        width: 12em;
        top: 0;
    }
}
@media screen and (max-width: 1300px) {
    .more-criteria-div .rmsc .dropdown-container {
        background-color: #ffffff00;
        cursor: pointer;
        background: #ffffff00;
        outline: none;
        padding: 0.85em;
        color: #8f8f8f;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        border-radius: 85px;
        margin: 0;
        height: 1em;
        width: 12em;
        top: 0;
    }
}
.more-criteria-div .rmsc .dropdown-heading {
    width: 16.5em;
    font-size: 0.85em;
    align-items: center;
    color: #8f8f8f;
    margin: -1.35em 0em 0 -0.2em;
    cursor: pointer;
    padding-right: 4em;
}
.more-criteria-div .rmsc .dropdown-heading button {
    outline: none;
}
.more-criteria-div .rmsc .dropdown-container:focus-within {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 85px;
}
.more-criteria-div .rmsc .gray {
    opacity: 1;
}
.more-criteria-div .dropdown-heading-dropdown-arrow .gray {
    margin-right: 3em;
}
.more-criteria-div  .dropdown-search-clear-icon .gray {
    margin-right: 0em;
}

.more-criteria-div .rmsc .dropdown-content .panel-content {
    border: 1px solid rgba(0, 0, 0, 0.103);
    box-shadow: none;
    padding: 1em;
    box-shadow: 2px 4px 10px rgb(0 0 0 / 15%);
    margin-top: 0.5em;
    font-size: 0.85em;
    color: #000;
    width: 14.2em;
    margin-left: -1.3em;
}
.more-criteria-div .rmsc .options::-webkit-scrollbar { 
    width: 0; 
}

.more-criteria-div .rmsc .item-renderer input {
    display: none;
}

.more-counter-div {
    display: flex;
    width: 9em;
    border-radius: 2em;
    border: none;
    justify-content: center;
    height: 2em;
}

.more-counter-div span {
    width: 1em;
    align-self: center;
    text-align: center;
    padding: 0 0.7em;
}

.more-slider-div {
    display: flex;
    width: 11em;
    border: none;
    align-items: center;
    margin-right: 0.7em;
}

.more-criteria-div .placeholder-show {
    font-style: normal;
    font-weight: 400;
    font-size: 0.85em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #8f8f8f;
    margin: 0.5em 2em 0.3em 2em;
    cursor: pointer;
}

.more-actors-div {
    display: flex;
    background: #ffffffff;
    width: 19em;
    border: none;
    height: auto;
    text-align: justify;
}

.more-actors-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.more-actor-elem {
    margin: 0.5em 0;
}

.more-actor-elem p {
    font-weight: 400;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 36px;
    padding: 0.4em 0.7em;
}

.more-actors-div input {
    background: #ffffff00;
    display: none;
    outline: none;
    padding: 1em;
    color: #8f8f8f;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 2.3em;
    box-sizing: border-box;
    border-radius: 85px;
    width: 14.4em;
    margin: 0 1em 0 0;
}

.more-actors-div form {
    align-self: center;
}

.more-actors-div .delete-actor-btn {
    right: 0.8em;
    bottom: 0.4em;
}

.more-delete-actor-btn:hover {
    background: #d6d6d6;
}

.more-actors-div .add-btn {
    margin-top: 0;
    align-self: center;
}

.more-slider-div .input-range__slider {
    width: 14px;
    height: 14px;
    background: #fff;
    border: 0;
    box-shadow: 0px -1px 5px rgb(0 0 0 / 2%), 0px 1px 5px rgb(0 0 0 / 20%);
}

.more-slider-div .input-range__track--active {
    background: #5750ec;
}

.more-slider-div .input-range__track {
    height: 4px;
}
.more-slider-div .input-range__track--background {
    background: #5750ec38;
}
