@media screen and (min-width: 1300px) {
    .movie-info-wrapper {
        display: flex;
        margin: 0 2em 2em 22em;
        padding-top: 3em;
        column-gap: 5em;
    }
}
@media screen and (max-width: 1300px) {
    .movie-info-wrapper {
        display: flex;
        margin: 0 2em 2em 18em;
        padding-top: 3em;
        column-gap: 3em;
    }
}

.detail-poster {
    width: 14em;
    height: 14em;
    object-fit: contain;
}

.movie-name {
    color: #030E4A;
    font-weight: 600;
    margin: 0 1em 0 0;
}

.info-country-age {
    color: #030E4A;
    font-weight: 500;
    margin-bottom: 2em;
}

.detail-info {
    color: #6A6C77;
    font-weight: 500;
}

.info-span {
    color: #030E4A;
    font-weight: 500;
    line-height: 1.3em;
}

.age-limit {
    padding-top: 1.1em;
}

.detail-info-labels {
    width: 8em;
}

.detail-flex {
    display: flex;
}

.detail-margin-left {
    margin-left: 3em;
}

@media screen and (min-width: 1300px) {
    .schedule-wrapper {
        display: flex;
        margin: 3em 2em 2em 22em;
    }
}
@media screen and (max-width: 1300px) {
    .schedule-wrapper {
        display: flex;
        margin: 3em 2em 2em 18em;
    }
}

.cinema-name {
    font-weight: 600;
    font-size: 1em;
    color: #030E4A;
}

.cinema-address {
    color: #5750EC;
    font-weight: 500;
    font-size: 1em;
    line-height: 2em;
    text-decoration: none;
}

.cinema-address svg {
    font-size: 1.5em;
    float: left;
    padding-right: 0.2em;
}

.schedule-info {
    box-shadow: 0px 1px 6px rgb(0 0 0 / 15%);
    border-radius: 18px;
    background: white;
    width: 10em;
    height: 4.5em;    
    cursor: pointer;
}

.schedule-cards {
    display: flex;
    column-gap: 2em;
    row-gap: 2em;
    width: 37em;
    flex-wrap: wrap;
    padding: 1em 0 3em 0;
}

@media screen and (min-width: 1300px) {
    .cinema-info {
        margin-right: 7em;
        width: 20em;
    }
}
@media screen and (max-width: 1300px) {
    .cinema-info {
        margin-right: 3em;
        width: 20em;
    }
}

.schedule-time {
    font-weight: 500;
    font-size: 1.2em;
    color: #5750EC;
    margin: 0.5em;
    float: left;
}

.schedule-date {
    color: #5750EC;
    float: left;
    font-weight: 500;
    margin: 2.5em 3em 0 0.5em;
    font-size: 1em;
    margin-top: 0.2em;
}

.schedule-price {
    float: right;
    font-weight: 500;
    font-size: 0.8em;
    background-color: #5750EC;
    color: #ffffff;
    border-radius: 1em;
    padding: 0.3em;
    margin-right: 0.8em;
    margin-top: 0.8em;
}

.schedule-format {
    float: right;
    font-weight: 500;
    font-size: 0.8em;
    background-color: #5750EC;
    color: #ffffff;
    border-radius: 1em;
    padding: 0.3em;
    margin-right: 0.8em;
    margin-top: -1.8em;
}