@media screen and (min-width: 1355px) {
    .settings-flex {
        display: flex;
        margin-left: 22em;
    }
}
@media screen and (max-width: 1355px) {
    .settings-flex {
        display: block;
        margin-left: 22em;
    }
}
@media screen and (max-width: 1300px) {
    .settings-flex {
        display: block;
        margin-left: 18em;
    }
}