@media screen and (min-width: 1300px) {
    .favorites-container {
        margin-left: 22em;    
        padding-bottom: 2em;
    }
    .favorites-flex {
        display: flex;
        width: 61.9em;
    }
    .favorites-cards {
        margin: 2em 2em 2em 0;
        display: flex;
        flex-wrap: wrap;
        gap: 3em;
        width: 56em;
    }
}

@media screen and (max-width: 1300px) {
    .favorites-container {
        margin-left: 18em;    
        padding-bottom: 2em;
    }
    .favorites-flex {
        display: flex;
        width: 60.9em;
    }
    .favorites-cards {
        margin: 2em 2em 2em 0;
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }
}

@media screen and (max-width: 1216px) {
    .favorites-flex {
        display: flex;
        width: auto;
    }
}

.favorites-label {
    margin: 2em 0 0 0em;
    color: #030E4A;
}

.filters-container {
    margin: 3.4em 4em 0 2em;
    margin-left: auto;
}
.filter {
    font-weight: 600;
    font-size: 0.9em;
    color: #A9AAB3;
    user-select: none; 
    cursor: pointer;
}

.filter-date, .filter-rating {
    font-weight: 600;
    font-size: 0.9em;
    color: #A9AAB3;
    user-select: none; 
    cursor: pointer;
}

.filter-date:before {
    content: "";
    position: absolute;
    height: 1px;
    top: 5.5em;
    width: 8em;
    border-bottom: 1px dashed #5750ec;
}

.filter-rating:before {
    content: "";
    position: absolute;
    height: 1px;
    top: 5.5em;
    width: 6em;
    border-bottom: 1px dashed #5750ec;
}

.filter-arrow {
    color: #5750EC;
    font-size: 1.2em;
    position: relative;
    top: 0.3em;
    padding: 0 1.5em 0 0.3em;
}
