@media screen and (min-width: 1300px) {
    .movie-info-wrapper {
        display: flex;
        margin: 0 10em 2em 22em;
        padding-top: 3em;
        column-gap: 5em;    
        padding-bottom: 2em;
    }
}
@media screen and (max-width: 1300px) {
    .movie-info-wrapper {
        display: flex;
        margin: 0 2em 2em 18em;
        padding-top: 3em;
        column-gap: 3em;    
        padding-bottom: 2em;
    }
}

.about-poster {
    width: auto;
    height: 20em;
    object-fit: contain;
    border-radius: 0;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 20%);
}

.movie-name {
    color: #030E4A;
    font-weight: 600;
    margin: 0 1em 0 0;
}

.info-country-age {
    color: #030E4A;
    font-weight: 500;
    margin-bottom: 2em;
}

.detail-info {
    color: #6A6C77;
    font-weight: 500;
}

.info-span {
    color: #030E4A;
    font-weight: 500;
    line-height: 1.2em;
}

.age-limit {
    padding-top: 1.1em;
}

.detail-info-labels {
    width: 8em;
}

.detail-flex {
    display: flex;
}

.detail-margin-left {
    margin-left: 3em;
}

@media screen and (min-width: 1300px) {
    .schedule-wrapper {
        display: flex;
        margin: 3em 2em 2em 22em;
    }
}
@media screen and (max-width: 1300px) {
    .schedule-wrapper {
        display: flex;
        margin: 3em 2em 2em 18em;
    }
}

.cinema-name {
    font-weight: 600;
    font-size: 1em;
    color: #030E4A;
}

.cinema-address {
    color: #5750EC;
    font-weight: 500;
    font-size: 1em;
    line-height: 2em;
    text-decoration: none;
}

.cinema-address svg {
    font-size: 1.5em;
    float: left;
    padding-right: 0.2em;
}

.schedule-info {
    box-shadow: 0px 1px 6px rgb(0 0 0 / 15%);
    border-radius: 18px;
    background: white;
    width: 10em;
    height: 4.5em;    
    cursor: pointer;
}

.schedule-cards {
    display: flex;
    column-gap: 2em;
    row-gap: 2em;
    width: 37em;
    flex-wrap: wrap;
    padding: 1em 0 3em 0;
}

@media screen and (min-width: 1300px) {
    .cinema-info {
        margin-right: 7em;
        width: 20em;
    }
}
@media screen and (max-width: 1300px) {
    .cinema-info {
        margin-right: 3em;
        width: 20em;
    }
}

.schedule-time {
    font-weight: 500;
    font-size: 1.2em;
    color: #5750EC;
    margin: 0.5em;
    float: left;
}

.schedule-date {
    color: #5750EC;
    float: left;
    font-weight: 500;
    margin: 2.5em 3em 0 0.5em;
    font-size: 1em;
    margin-top: 0.2em;
}

.schedule-price {
    float: right;
    font-weight: 500;
    font-size: 0.8em;
    background-color: #5750EC;
    color: #ffffff;
    border-radius: 1em;
    padding: 0.3em;
    margin-right: 0.8em;
    margin-top: 0.8em;
}

.schedule-format {
    float: right;
    font-weight: 500;
    font-size: 0.8em;
    background-color: #5750EC;
    color: #ffffff;
    border-radius: 1em;
    padding: 0.3em;
    margin-right: 0.8em;
    margin-top: -1.8em;
}

.description {
    color: #030E4A;
    font-weight: 500;
}

.wrapper {
    --color: #1F242D;
    --color-invert: #ffffff;
    --clip-path: circle(15px at left);
    --clip-path-hover: circle(70px at left);
    --clip-path-clicked: circle(100vw at left);
    --duration: .4s;
    --timing-function: ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .video {
      height: 20vh;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 15px;
      clip-path: var(--clip-path);
      transition: clip-path var(--duration) var(--timing-function);
      video {
        position: fixed;
        background: #c4cbde;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
      }
    }
    .text {
      font-size: 0.8em;
      position: relative; 
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: .2px;
      opacity: var(--opacity, 1);
      transition: opacity .3s var(--timing-function) .2s;
      &::before,
      &::after {
        content:"";
        position: absolute;
        bottom: 0;
        left: -1px;
        right: 25px;
        height: 0;
      }
      &::before {
        box-shadow: 26px 0 0 1px var(--color);
        right: var(--r, 100%);
        opacity: var(--opacity, 0);
        transition: right .5s ease-in, opacity .1s linear;
      }
      &::after {
        box-shadow: 26px 0 0 1px var(--color-invert);
        clip-path: var(--clip-path);
        transition: clip-path var(--duration) var(--timing-function);
      }
      > span {
        &::before,
        &::after {
          content: attr(data-text);
          padding-left: 26px;
        }
        &::before {
          color: var(--color);
        }
        &::after {
          color: var(--color-invert);
          clip-path: var(--clip-path);
          transition: clip-path var(--duration) var(--timing-function);
          position: absolute;
          left: 0;
        }
      } 
    }
    input {
      width: 220px;
      height: 40px;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      border-radius: 40px;
      z-index: 2;
      appearance: none;
      cursor: pointer;
      &:focus {
        outline: 0;
      }
      &:hover {
        ~ .video {
          clip-path: var(--clip-path-hover);
        }
        ~ .text {
          &::before {
            --r: 25px;
            --opacity: 1;
          }
          &::after {
            clip-path: var(--clip-path-hover);
          }
          > span {
            &::after {
              clip-path: var(--clip-path-hover);
            }
          }
        }
      }
      &:checked {
        width: 100%;
        height: 100%;
        border-radius: 0;
        ~ .video {
          clip-path: var(--clip-path-clicked);
        }
        ~ .text {
          transition: opacity .3s var(--timing-function);
          &::after {
            clip-path: var(--clip-path-clicked);
          }
          > span {
            &::after {
              clip-path: var(--clip-path-clicked);
            }
          }
        }
      }
    }
  }

.date {
  width: 7em;
}