@media screen and (min-width: 1355px) {
    .notification-container {
        margin: 1.6em 3em 0em 20em;
    }
}
@media screen and (max-width: 1355px) {
    .notification-container {
        margin: 1.6em 3em 0em 0;
    }
}

.notification-container  h3 {
    color: #030E4A;
    font-size: 1.4em;
    padding: 1em 0;
}

.notification-container span {
    margin-left: 2em;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
    color: #030E4A;
}

.notification-container ._2-ZbH {
    height: 1.4em;
    width: 2.55em;
    margin-bottom: 1.4em;
}
.notification-container ._ju7HT {
    bottom: 3px;
}