@media screen and (min-width: 1300px) {
    .card-wrapper {
        width: 26%;
        height: 13em;
        margin: 2% 0 2% 0;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgb(0 0 0 / 13%);
        border-radius: 18px;
        padding: 1em;
    }
}
@media screen and (max-width: 1455px) {
    .card-wrapper {
        width: 25%;
        height: 13em;
        margin: 2% 0 2% 0;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgb(0 0 0 / 13%);
        border-radius: 18px;
        padding: 1em;
    }
}

@media screen and (max-width: 1300px) {
    .card-wrapper {
        width: 26%;
        height: 13em;
        margin: 1.5% 0 1.5% 0;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgb(0 0 0 / 13%);
        border-radius: 18px;
        padding: 1em;
    }
}

.card-wrapper svg {
    color: #00b300;
}

.poster {
    border-radius: 50%;
    width: 5em;
    height: 5em;
    margin-left: auto;
    display: block;
    margin-right: auto;
    object-fit: cover;
}

.criteria-labels {
    width: -webkit-fill-available;
    margin-right: 1em;
    overflow: hidden;
    overflow-y: scroll;
    white-space: break-spaces;
    margin-top: 0.5em;
}
.criteria-labels::-webkit-scrollbar {
    display: none;
}

.movie {
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 0;
}

.criteria {
    font-size: 0.7em;
    font-weight: 500;
    margin: 0.6em 0;
}
@media screen and (max-width: 1300px) {
    .criteria {
        font-size: 0.7em;
        font-weight: 500;
        margin: 0.6em 0;
    }
}

.info {
    display: flex;
    height: auto;
    max-height: 8em;
}

.match-wrapper {
    height: fit-content;
    align-self: flex-end;
}

.award {
    height: auto;
    width: fit-content;
    float: right;
    margin-bottom: 1em;
    margin-right: -0.1em;
}

.match {
    text-align: end;
    font-size: 0.7em;
    font-weight: 500;
    color: #5750EC;
}

.match-num {
    text-align: end;
    font-size: 1em;
    font-weight: 500;
    color: #5750EC;
    float: right;
}

a {
    text-decoration: none;
    color: #000000;
}

.white-gradient {
    width: auto;
    height: 3em;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 78.12%);
    position: relative;
    margin-right: 5em;
    top: -2em;
}