@media screen and (min-width: 1300px) {
    .criteria-container {
        margin: 2em 2em 0 22em;
        padding-bottom: 2em;
    }
}
@media screen and (max-width: 1300px) {
    .criteria-container {
        margin: 2em 2em 0 18em;
        padding-bottom: 2em;
    }
}
.criteria-container  h3 {
    color: #030E4A;
    padding-bottom: 0.5em;
    font-size: 1.4em;
}

.criteria-checkbox-flex {
    display: flex;
    column-gap: 13em;
    margin-left: -0.6em;
}

.multiselect-div {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 1190px) {
    .multiselect-div>*{
        flex: 1 29em;
    }
}
@media screen and (max-width: 1190px) {
    .multiselect-div>*{
        flex: 1 20em;
    }
}