.checkbox-label {
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
    color: #030E4A;
    display: block;
    padding-bottom: 1em;
    align-items: center;
}

.criteria-container .MuiCheckbox-colorSecondary.Mui-checked {
    color: #5750ec;
}
.criteria-container .MuiCheckbox-colorSecondary.Mui-checked:hover {
    background-color: #5750ec0d;
}
.criteria-container .MuiIconButton-colorSecondary:hover {
    background-color: #5750ec0d;
}
.criteria-container .MuiCheckbox-root {
    color: #cdcdcd;
}
