.search-container {
    background-size: cover;
    height: 100%;
    background-position-y: -14em;
}

@media screen and (min-width: 1300px) {
    .results-wrapper {
        margin-left: 22.3em;
        margin-right: 4em;
        padding-top: 3em;
    }
}

@media screen and (max-width: 1300px) {
    .results-wrapper {
        margin-left: 18em;
        margin-right: 2em;
        padding-top: 3em;
    }
}

@media screen and (min-width: 1300px) {
    .results-label {
        margin: 2em 0 1em 0em;
        color: #030E4A;
    }
}
@media screen and (max-width: 1300px) {
    .results-label {
        margin: 2em 0 0 0em;
        color: #030E4A;
    }
}

@media screen and (min-width: 1300px) {
    .card-list-wrapper {
        display: flex;
        column-gap: 4%;
        flex-wrap: wrap;
        width: 100%;
    }
}

@media screen and (max-width: 1300px) {
    .card-list-wrapper {
        display: flex;
        gap: 3%;
        flex-wrap: wrap;
        width: 100%;
    }
}

@media screen and (min-width: 1300px) {
    .card-list-wrapper-top {
        display: flex;
        border-bottom: 1px solid #e9e8ff;
        column-gap: 4%;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1300px) {
    .card-list-wrapper-top {
        display: flex;
        border-bottom: 1px solid #e9e8ff;
        gap: 3%;
        flex-wrap: wrap;
    }
}