@media screen and (min-width: 1300px) {
    .preferences-container {
        margin: 0 2em 0 22em;
        padding-bottom: 4em;
    }
}
@media screen and (max-width: 1300px) {
    .preferences-container {
        margin: 0 2em 0 18em;
        padding-bottom: 4em;
    }
}
.preferences-container h3 {
    color: #030E4A;
    padding-bottom: 0.5em;
    font-size: 1.4em;
}

@media screen and (min-width: 1300px) {
    .preferences-container .rmsc .dropdown-container {
        cursor: pointer;
        background: #ffffff;
        outline: none;
        padding: 1em;
        color: #8f8f8f;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        border-radius: 85px;
        margin: 0;
        height: 1em;
        width: 15em;
        top: 0;
    }
}
@media screen and (max-width: 1300px) {
    .preferences-container .rmsc .dropdown-container {
        cursor: pointer;
        background: #ffffff;
        outline: none;
        padding: 0.85em;
        color: #8f8f8f;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        border-radius: 85px;
        margin: 0;
        height: 1em;
        width: 15em;
        top: 0;
    }
}
.preferences-container .rmsc .dropdown-heading {
    width: 20.6em;
    font-size: 0.85em;
    align-items: center;
    font-weight: 400;
    display: flex;
    color: #000000;
    margin: -1.35em 0em 0 -0.8em;
    cursor: pointer;
    padding-right: 4em;
}

.preferences-container .rmsc .dropdown-heading button {
    outline: none;
}
.preferences-container.rmsc .dropdown-container:focus-within {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 85px;
}
.preferences-container .rmsc .gray {
    opacity: 1;
}
.preferences-container .dropdown-heading-dropdown-arrow .gray {
    margin-right: 3em;
}
.preferences-container .dropdown-search-clear-icon .gray {
    margin-right: 0em;
}

.preferences-container .rmsc .dropdown-content .panel-content {
    border: 1px solid rgba(0, 0, 0, 0.103);
    box-shadow: none;
    padding: 1em;
    box-shadow: 2px 4px 10px rgb(0 0 0 / 15%);
    margin-top: 0.5em;
    font-size: 0.85em;
    color: #000;
    width: 17.8em;
    margin-left: -1.3em;
    margin-bottom: 4em;
}
.preferences-container .rmsc .options::-webkit-scrollbar { 
    width: 0; 
}

.preferences-container .rmsc .item-renderer input {
    display: none;
}

.preferences-container p {
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    color: #030E4A;
}

.flex-preferences {
    display: flex;
    gap: 4em;    
    width: 32em;
}

.preferences-container .more-criteria-div {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-top: 1.5em;
}


.preferences-container .more-actors-div {
    background-color: #00000000;
    display: flex;
    width: 40em;
    border: none;
    height: auto;
    text-align: justify;
}

.preferences-container .more-actor-elem p {
    background-color: white;    
    margin-bottom: 1.2em;
    height: 2.2em;
}

.preferences-container .more-actors-div form {
    align-self: flex-start;
}

.preferences-container .more-actors-div .add-btn {
    align-self: flex-start;
}

.preferences-container .more-actors-div input {
    background: #ffffff;
    display: none;
    outline: none;
    padding: 1em;
    color: #8f8f8f;
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 2.3em;
    box-sizing: border-box;
    border-radius: 85px;
    width: 12em;
    margin: 0 1em 0 0;
}

.preferences-container .more-actor-elem {
    margin: 0;
}

.favorite-actors {
    top: 0.5em;
    position: relative;
}

.preferences-container .rmsc {
    --rmsc-main: #5750ec;
    margin-left: auto;
    margin-bottom: 1em;
    margin-top: 1em;
}