@media screen and (min-width: 1301px) {
    .nav-menu {
        background-color: white;
        width: 18em;
        height: 100%;
        box-shadow: 5px 0px 30px rgb(0 0 0 / 7%);
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        color: #5750EC;
    }

    .nav-text a {
        text-decoration: none;
        height: 2.5em;
        display: flex;
        align-items: center;
        padding: 0px 4.3em 0 1em;
        border-radius: 40px 0px 0px 40px;
        color: #5750EC;
    }
}

.nav-display-none{
    display: none;
}

.logo {
    display: flex;
    position: fixed;
    margin: 0.5em 7em 0 0em;
    z-index: 1;
    color: #000000;
}
.logo h1{
    margin: 0 0 0 0.2em;;
}

.logo svg{
    height: 2em;
}

.nav-menu-items {
    margin-top: 5em;
}

.nav-text {
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 22px;
    color: #5750EC;
    list-style-type: none;
}

#active a{
    background-color: #5750EC;
    color: white;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 12%);
}

.nav-text a:hover {
    background-color: #5750ec14;
    color: #5750ec;
}

.nav-item-span {
    margin-left: 1em;
    font-size: 0.7em;
}

.exit {
    position: fixed;
    display: flex;
    color: #5750EC;
    font-size: 1.2em;
    bottom: 1em;
    left: 2em;
    cursor: pointer;
}

.exit span {
    height: 2.5em;
    display: flex;
    font-weight: 600;
    line-height: 1.4em;
    font-size: 0.7em;
    margin-left: 1em;
}

.exit:hover {
    left: 0;
    background-color: #5750ec14;
    padding: 0.8em 1.5em 0 2em;
    border-radius: 0 2em 2em 0;
}

@media screen and (max-width: 1300px) {
    .nav-menu {
        background-color: white;
        width: 15.5em;
        height: 100%;
        box-shadow: 5px 0px 30px rgb(0 0 0 / 7%);
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        color: #5750EC;
    }

    .nav-text a {
        text-decoration: none;
        height: 2.5em;
        display: flex;
        align-items: center;
        padding: 0px 3em 0 1em;
        border-radius: 40px 0px 0px 40px;
        color: #5750EC;
    }
}